.ox {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-position: center;
  background-size: 100% 100%;
}
.home {
  background-image: url('@&bg.jpg&');
}

.two {
  background-image: url('@&bg-2.jpg&');
}

.ox {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 70vh;
  overflow: hidden;
}
.safety {
  overflow: hidden;
}